<form enctype="multipart/form-data" method="post">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input name="Title" id="title" class="form-control" type="text" placeholder="Title" />
            </div>
            <div class="input-group my-2">
                <input name="Subtitle" id="title" class="form-control" type="text" placeholder="Subitle" />
            </div>
            <div class="input-group my-2">
                @ViewBag.PhotoError
                <input name="NewPhoto" id="title" class="form-control" type="file" placeholder="URl" />
            </div>
            <input type="submit" class="btn btn-outline-success" value="Create" />
        </div>
    </div>  
</form>